#main {
}

/* ///FIRST SECTION - ONE CSS/// */

#one {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}
.left {
  width: 40%;
  margin: 3%;
  padding: 1%;
  font-size: 27px;
}
input {
  width: 150px;
  height: 20px;
}
#email {
  padding: 10px;
}
#submit-button {
  height: 48px;
  padding: 10px;
  font-weight: 750;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
h1 {
  color: #3f4450;
}
h6,
p {
  color: #868d9d;
  text-align: left;
}
#cont-p {
  font-size: 16px;
}
#cont-p > a {
  color: red;
  text-decoration: none;
}
.right {
  margin-top: 10%;
  margin-left: 2%;
}

#one-right > img {
  width: 100%;
}
/* /////CSS FOR MID NAV ///// */
.mid-nav {
  display: flex;
  margin-top: -10%;
  margin-left: 4%;
  text-align: center;
}
.mid-nav > div:nth-child(2) > h3 {
  margin: 12%;
}
.mid-nav > div:nth-child(3) {
  margin-left: 30%;
}

.mid-nav-headings {
  display: flex;
  margin-left: 25%;
}
#video-play {
  width: 150px;
  height: 20px;
  text-align: center;
  margin-top: 18px;
  padding-bottom: 20px;
}
#video-play > h4 {
  margin-top: 12px;
}
#video-play a {
  color: red;
  text-decoration: none;
}

#hr1 {
  border-top: 3px solid grey;
}

#overview-1 {
  display: flex;
}
#overview-1 > div {
  width: 40%;
  margin: 2%;
  margin-left: 50px;
  margin-top: 50px;
}

#overview-1 > div > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
.desc > a {
  text-decoration: none;
}
.desc > a > h2 {
  font-size: 24px;
  color: #3f4450;
}
.desc > p {
  font-size: 20px;
}

#overview-2 {
  display: flex;
  background-color: whitesmoke;
}
#overview-2 > div {
  width: 40%;
  margin: 2%;
  margin-left: 100px;
  margin-top: 50px;
}
#overview-2 > div:nth-child(2) {
  width: 25%;
  margin-left: 150px;
}
#overview-2 > div > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
#overview-2 > div > p {
  font-size: 20px;
  line-height: 1.25;
}

#overview-3 {
  display: flex;
  background-color: whitesmoke;
}
#overview-3 > div {
  width: 30%;
  margin: 2%;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 50px;
}
#overview-3 > div > h1 {
  font-size: 42px;
  margin-top: 100px;
}
#overview-3 > div > p {
  font-size: 20px;
  line-height: 1.25;
}
#overview-4 {
  display: flex;
  background-color: whitesmoke;
}
#overview-4 > div {
  width: 40%;
  margin: 2%;
  margin-left: 100px;
  margin-top: 50px;
}
#overview-4 > div:nth-child(2) {
  width: 30%;
  margin-top: 50px;
  margin-left: 150px;
}
#overview-4 > div > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
#overview-4 > div > p {
  font-size: 20px;
  line-height: 1.25;
}
#overview-5 {
  width: 100%;
  height: 450px;
  align-items: center;
  background-color: rgb(42, 55, 129);
}
#overview-5 > div {
  width: 50%;
  margin: auto;
  padding: 40px;
  padding-top: 70px;
}
#overview-5-icon {
  width: 8%;
  margin-left: 45%;
}
#overview-5 > div > h1 {
  font-size: 42px;
  color: skyblue;
}
#overview-5 > div > p {
  font-size: 18px;
  color: skyblue;
  text-align: center;
}
#overview-5 h1,
#overview-5 p {
  text-align: center;
}
.features-1 {
  margin-left: 80px;
}
.feature-1-grid {
  display: grid;
  grid-gap: 8px;
  grid-template:
    "one two three four"
    "five six seven eight";
}
.feature-1-grid > div {
  height: 200px;
  width: 80%;
}
.feat-margin {
  margin-top: 10px;
}
.feature-1-grid > div > div > p {
  text-align: left;
}
.feature-1-grid > div > div > img {
  width: 10%;
  margin-left: 5px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.feat-key {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 60px;
}
.feat-key > h1 {
  font-size: 42px;
}
#f-one {
  grid-area: one;
  background-color: none;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#features-2 {
  background-color: #f9423d;
  height: 830px;
}
#feature-2-div {
  width: 60%;
  padding: 50px;
  margin: 100px auto 10px;
}
#feature-2-div > h1 {
  font-size: 50px;
  padding-top: 80px;
}
#feature-2-div > p {
  font-size: 20px;
}
#feature-2-div > h1,
#feature-2-div > h2,
#feature-2-div > p {
  color: white;
}
#feature-2-hr {
  background-color: #f9423d;
  width: 100%;
  margin: auto;
}
#feature-2-hr > hr {
  width: 80%;
}
#feature-2-hr > img {
  height: 35px;
  float: left;
  margin-left: 10%;
  margin-top: 50px;
}
#feature-2-hr > button {
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  margin-left: 59.5%;
  margin-top: 50px;
  color: white;
  border: none;
  background-color: #29228fee;
}
#features-4 {
  margin-bottom: 300px;
}
.f4-img-div > div > {
  font-size: 22px;
  line-height: 1.25;
}
#f4-one {
  grid-area: one;
  margin-top: 15px;
}
#f4-two {
  grid-area: two;
  margin-top: 15px;
}
#f4-three {
  grid-area: three;
}
/* ul > li > div {
  border: 1px solid #ccc;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 20px;
  width: 55px;
  height: 25px;
  text-align: center;
  background-color: red;
} */

@media only screen and (max-width: 720px) {
  #one {
    flex-direction: column;
  }
  #one-left {
    width: 80%;
  }
  #form {
    width: auto;
  }
  #email {
    width: 100%;
  }
  #submit-button {
    width: 104%;
  }
  #cont-p {
    text-align: center;
  }
  .right {
    margin: 0;
  }
  .feature-1-grid {
    display: grid;
    grid-gap: 0.5%;
    grid-template:
      "one"
      "two "
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";
  }
}
