#main {
  background-color: whitesmoke;
}
#one {
  display: flex;
}
.left {
  width: 40%;
  margin: 3%;
  padding: 1%;
  font-size: 27px;
}
input {
  width: 150px;
  height: 20px;
}
#email {
  padding: 10px;
}
#submit-button {
  height: 48px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
