html{
    
        font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;

    
}



body > div:nth-child(1){
    width: 100%;
    height: 550px;
    
}
body > div:nth-child(2){
    width: 100%;
    height: 80px;
    margin-top: -10px;
    
}
.platform>h3,.security,body > div:nth-child(3)>h3{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: gray;
    margin-top: 120px;
   
}
.security,body > div:nth-child(3)>h3{
    margin-left: 340px;

}

body > div:nth-child(3){
    width: 100%;
    height: 1520px;
    /* border: 1px solid blue; */

}
  h3+h1{
    color:#4141a2;
    font-size: 48px;
    line-height: 52px;
    font-weight: 550;
    margin-left: 340px;
    margin-top: -0.05px;
}
h1+p{
    color: #3f4450;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 340px;
    margin-top: -13px;

}
.img{
    width: 24px;
    height: 24px;
    float: left;
}
div>img{
    
    padding: 10px;
    
}
.image{
    background-color: rgb(243, 241, 241);
    border-radius: 23px;
    width: 44px;
    height: 44px;
    margin-left: 340px;
    float: left;
    margin-right: 24px;
}
h4+p{
    margin-left: 410px;
    
    margin-top: -10px;
    padding-bottom: 20px;
    

}
h4+p,h4{
    color: #3f4450;
    line-height: 24px;

}

 #deskreserved{
    width: 528px;
    height: 458px;
    float:right;
    margin-right: 380px;
    margin-top: -530px;
}
.meggit,#deskreserved + div{
    height: 380px;
    width: 1890px;
    background-color: rgb(235, 234, 234);
    margin-top: 100px;
}
.meggit>h2:nth-child(1),#deskreserved + div > h2:nth-child(1) {
    color : #797d86;
    text-align: center;
    margin-bottom: 32px;
    font-size: 26px;
    margin:auto;
    padding-top: 77px;
    
}
.meggit>h2:nth-child(2),#deskreserved + div > h2:nth-child(2){
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 36px;
    text-align: center;
    color : #56575a;
    padding-top: 10px;


}
h2 ~ p{
    text-align: center;
}
h2+p{
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
    color : #3f4450;
}
#last{
    color:#868d9d;
    font-size: 14px;

}



/* Second block */
span{
    color: rgb(58, 58, 212);
}

#office{
    width: 23px;
}

/* Scale */
#scale{
    margin-top: 145px;   
}
/* Platform */
.platform > h3{
    
    text-align: center;
}
.platform>h1{
    text-align: center;
    margin-left: -40px;
}
.platform>p{
    text-align: center;
    margin-left: -35px;

}

.platform>div{
    width: 1220px;
    height: 630px;
    border: 1px solid blue;
    margin: auto;
}
/* flex */

.flex{
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-left:320px;
}
.flex > div >img{
    width: 55px;
    float: left;
    margin-right: 20px;
}
.flex > div>p{
    float: left;
    margin-left: 96px;
    margin-top: -26px;
    color: #7e8086;                                               
    font-size: 16px;
}
.flex > div >h3{
    color:#3f4450;
    font-weight: 600;
    font-size: 24px;
    margin-top: 15px
}

.protect > div:nth-child(2){
    margin-left: -77px;
}

/* platform3 */
#platform3{
    width: 1895px;
    height: 998px;
    background-color: rgb(242, 244, 245);
}
#platform3>div{
    width: 815px;
    height: 733px;
    padding-top: 80px;
    padding-left: 450px;
}

#platform3 > div > div>div:nth-child(2)>img,#platform3 > div > div>div:nth-child(3)>img,#platform3 > div > div:nth-child(2)>div:nth-child(1)>img{
    width: 30px;

    background-color: rgb(245, 240, 240);
    border-radius: 25px;
}
#platform3 > div > div>div:nth-child(1)>h1{
    color:#4141a2;
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    margin-top: 16px;
    



}
#platform3 > div > div>div:nth-child(2)>h3,#platform3 > div >div:nth-child(2)>div>h3{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 22px;
    font-weight: 600;
}
#platform3 > div > div>div:nth-child(2)>p,#platform3 > div > div>div:nth-child(3)>p, #platform3 > div >div:nth-child(2)>div>p{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 25px;

}
#platform3 > div > div>div:nth-child(2)>p>span,#platform3 > div > div>div:nth-child(3)>p>span, #platform3 > div >div:nth-child(2)>div>p>span{
    color:#6161FF;
    font-weight:500;
    background-color: transparent;
}
#platform3 > div > div>div:nth-child(2),#platform3 > div > div>div:nth-child(3){
    margin-left: 190px;
    margin-top: 65px;
}
#platform3 > div >div:nth-child(2)>div:nth-child(1){
    float: right;
    margin-top: -740px;
}
#platform3 > div >div:nth-child(2)>div:nth-child(2){
    float: right;
    margin-top: -430px;
}
#platform3>div{
    margin-top: 120px;

}

/* Platform4  */
#platform4{
    height: 724px;
    width: 1895px;
    background-color: #3F4450;
    margin-top: -40px;
}
#platform4 >div >h2{
        font-size: 56px;
        color: #FFFFFF;
        padding-left: 325px;
        font-weight: 500;
        text-align: left;
        margin: 24px;
        padding-top: 150px;

}
#platform4 >div >h3{
    color: white;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
    line-height: 35px;
    padding-left: 325px;
    margin: 24px;



}
#platform4 >div >a>button{
    height: 40px;
    width: 190px;
    border-radius: 4px;
    background-color:#d3d236;
    font-size: 16px;
    color: #3F4450;
    vertical-align: middle;
    border: 1px solid transparent;
    margin-top: 45px;
    margin-left: 349px;
}
#platform4 >div:nth-child(2) {
    width: 282px;
    height: 230px;
    background-color: white;
    float: right;
    margin-right: 645px;
    margin-top: -310px;
    float: right;
    line-height: 35px;


}
#platform4 >div:nth-child(3)>div{
    width: 282px;
    height: 230px;
    background-color: white;

}
#platform4 >div:nth-child(3)>div:nth-child(1){
    margin-top: -450px;
    margin-left: 1285px;

}
.first>img{
    padding: 25px;
}
.first>img{
    padding: 25px;
    padding-bottom: 40px;

}
.first>span{
    color: #3f4450;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 700;
    margin-left: -70px;
    

}

.first>p{
    color: #3f4450;
    margin-bottom: 16px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;

}
.first>p+span{
        color: #6161ff;
        font-weight: 500;
        margin-left: 24px;
        

}

#platform4 >div:nth-child(3)>div:nth-child(2){
    margin-left: 1285px;
    margin-top: 20px;
}
/* Featured content */

#featured_content{
    height: 800px;
    width: 1890px;
    border: 1px solid gray;
}
#featured_content>div>span{
    font-size: 14px;
    color: #868d9d;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 340px;
    

}
#featured_content >div:nth-child(1){
    margin-top: 90px;
}
#featured_content>div>h2{
    font-size: 46px;
    margin-bottom: 32px;
    margin-top: 8px;
    font-weight: 100px;
    margin-left: 340px;
    color: rgb(75, 74, 74);
}
.lastblock > img{
    width:400px;
    height: 230px;
}
.lastblock > h3{
    font-size: 24px;
    color:#3f4450;
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 28px;
    font-weight: 600;
    margin-left: 10px;
}
.lastblock > p {
    font-size: 16px;
    color:#3f4450;
    line-height: 25px;
    font-weight: 500;
    margin-left: 10px;
}
div>.lastblock:nth-child(1){
    margin-left: 340px;
    float: left;
}
div>.lastblock:nth-child(2){
        float: left;
}

/* Last section */
#footer_section{
    height: 950px;
    width: 1895px;
    background-color: #4141a2;
   }
#footer_section>div>h2{
    color:white;
    margin-bottom: 24px;
    font-size: 50px;
    text-align: center;
    /* font-weight: lighter; */
    padding-top: 90px;
    font-family:Arial, Helvetica, sans-serif;

}   
hr{
    height: 2px;
    border: 0;
    margin-top: 48px;
    margin-bottom: 24px;
    background-color: #7083ff;
    width:1215px
}

#footer_section{
    font-family:SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
}

#footer_section>div>h3{
    font-size: 24px;
    color:#bdccff;
    text-align: center;
    font-weight: lighter;
}
hr+p{
    margin-left: 340px;
}
p + hr{
    margin-top: 32px;
}

hr+p>span{
    color:#bdccff;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    }
span + a{
    color:#d3d236;
    font-weight: 600;
    background-color: transparent;
}    

form>input[type=email]{
    background-color: #31317c;
    padding: 1px 16px;
    height: 33px;
    width: 230px;
    border-top-color: rgb(111, 131, 255) !important;
    border-right-color: rgb(111, 131, 255) !important;
    border-bottom-color: rgb(111, 131, 255) !important;
    border-left-color: rgb(111, 131, 255) !important;
    border-radius: 5px;
    margin-left: 750px;
    
}
input[placeholder]
{
    font-size: 15px;
    
}

button{
    height: 36px;
    width: 130px;
    margin-left: 20px;
    color: #4141a2;
    background-color:#d3d236;
    padding: 1px 24px;
    font-size: 16px;
    border-radius: 4px;
    border-color: #d3d236;


}
form{
    margin-top: 60px;
}

.items > p{
    color: #8fa5ff;
    margin-bottom: 8px;

}
.items{
    margin-top: 80px;
    margin-left: 340px;
}
.items:nth-child(2){
    margin-left: 580px;
    margin-top: -376px;
}
.items:nth-child(3){
    margin-left: 815px;
    margin-top: -270px;
}
.items:nth-child(4){
    margin-left: 1140px;
    margin-top: -270px;
}

#last_item{
    height: 100px;
    width: 1895px;
    background-color: #28397e;
}
#last_item > p{
    color: #8fa5ff;
    float: left;
    padding: 25px;
}
#last_item>p:nth-child(1){
    margin-left: 310px;
}












