html{
    
        font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;

    
}


body > div:nth-child(1){
    width: 100%;
    height: 850px;
    border: 1px solid blue;
}
body > div:nth-child(2){
    width: 100%;
    height: 80px;
    border: 1px solid blue;
}
.security,body > div:nth-child(3)>h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: gray;
    margin-top: 120px;
    margin-left: 340px;
}

body > div:nth-child(3){
    width: 100%;
    height: 1520px;
    /* border: 1px solid blue; */

}
h3+h1{
    color:#4141a2;
    font-size: 48px;
    line-height: 52px;
    font-weight: 550;
    margin-left: 340px;
    margin-top: -0.05px;
}
h1+p{
    color: #3f4450;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 340px;
    margin-top: -13px;

}
.img{
    width: 24px;
    height: 24px;
    float: left;
}
div>img{
    
    padding: 10px;
    
}
.image{
    background-color: rgb(243, 241, 241);
    border-radius: 23px;
    width: 44px;
    height: 44px;
    margin-left: 340px;
    float: left;
    margin-right: 24px;
}
h4+p{
    margin-left: 410px;
    
    margin-top: -10px;
    padding-bottom: 20px;
    

}
h4+p,h4{
    color: #3f4450;
    line-height: 24px;

}

 #deskreserved{
    width: 528px;
    height: 458px;
    float:right;
    margin-right: 380px;
    margin-top: -530px;
}
#deskreserved + div{
    height: 380px;
    width: 1890px;
    background-color: rgb(235, 234, 234);
    margin-top: 100px;
}
#deskreserved + div > h2:nth-child(1) {
    color : #797d86;
    text-align: center;
    margin-bottom: 32px;
    font-size: 26px;
    margin:auto;
    padding-top: 77px;
    
}
#deskreserved + div > h2:nth-child(2){
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 36px;
    text-align: center;
    color : #56575a;
    padding-top: 10px;


}
h2 ~ p{
    text-align: center;
}
h2+p{
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
    color : #3f4450;
}
#last{
    color:#868d9d;
    font-size: 14px;

}



/* Second block */
span{
    color: rgb(58, 58, 212);
}



